/*-- Pure CSS (http://purecss.io/). -----------------------------------------*/

@import "../../bower_components/pure/pure.css";
/*@import "animate.css";*/

.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 400px auto;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
0%, 100% { -webkit-transform: scale(0.0) }
50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
0%, 100% {
transform: scale(0.0);
-webkit-transform: scale(0.0);
} 50% {
transform: scale(1.0);
-webkit-transform: scale(1.0);
}
}



@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}



.animated {
 -webkit-animation: zoomOut .6s linear;
  /*-webkit-animation-delay: .2s;*/
}







.asIn {
/*-webkit-transform: scale(0.5);*/
	/*-webkit-animation: zoomOut 2.0s 1 ease-in-out;
	-webkit-transform-origin: center center;*/
	
	height:120%;

}

body, html {

	position: relative;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#main {

	position: relative;
	height: 100%;
}

#debug {

	position: absolute;
	top: 10%;
	width: 30%;
	height: 80%;
	z-index: 10009392303290309209290290290;
	background: #ccc;
	font-size: 12px;
	padding: 10px;
}

#container-for-catalog, #container-for-modals, #container-for-intro, #container-for-rfid ,#container-for-bad {

	position: relative;
	width: 100%;
	height: 80%;
	display: none;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#container-for-intro img {
	width: 100%;
	position: absolute;
	bottom: 0;
}

#container-for-bad {
	text-align:center;
	background:white;
	
}
#container-for-bad img {
	height:50%;
	
}


#container-for-bad button {
	padding:10px;
	margin:10px;
	
}



#container-for-catalog iframe, #container-for-rfid iframe {

	position: relative;
	z-index: 1000;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	-webkit-overflow-scrolling: touch;
}

#loader {

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100000000;
	opacity: 0.8;
	background: #000000;
	display: none;
	position: absolute
}

iframe.isifr {
	width: 850px;
	height: 500px;
	overflow-y: hidden;
	float: left;
	border: 4px solid black;
	background: white;
	padding: 10px;
	margin: 10px;
	display: none;
	/* transform: perspective(600px) rotateY(24deg) */

}

iframe.isifr #header {
	display: none !important;
}

#back {

	text-align: center;
	padding: 20px;
	display: none;
}

#back span {

	text-align: center;
	display: block;
	padding: 10px;
	background: white;
	color: #000000;
	font-size: 35px;
}

#nav .icon {

	height: 100%;
	margin-right: 20px;;
	float: left;
	display: block;
	position: relative;
}

#nav .iconleft {

	height: 100%;
	margin-right: 20px;;
	float: right;
	display: block;
}

#nav .icon img {

	height: 80%;
	margin-top: 10%;
	width: auto;
}

#nav, #listed {

	width: 100%;
	height: 10%;
	/*max-height:100px;*/
	position: relative;
	z-index: 1000000;
	background: #222222;
}

#listed {
	
	top:0;
	bottom: 0;
	text-align: center;
	
	
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#listed #cnt {
	
	/*position: absolute;
	
	top:-85%;
	bottom:25%;
	width:100%;
	overflow:none;
	*/
	
	background:red;
	overflow:scroll;
	
	
}



#listed .is_thumb {

	
	height: 100%;
	width:auto;
	margin: 0 15px 0 15px;
	/*margin: -50px 10px;*/
	display: inline-block;
	/*float:left;*/
	position: relative;
	border: 1px solid #ebebeb;
	-webkit-transition: all .3s  ease-in-out;
	
	 -webkit-transform :scale(2)
	
}

#listed .icon {

	height: 100%;
	margin-right: 20px;
	float: right;
	display: block;
	position: relative;
}

#listed .icon img {

	height: 80%;
	margin-top: 10%;
	width: auto;
}

#listed .is_thumb img {

	width: auto;
	height: 100%;
}

#listed .is_thumb .is_sel {

	position: absolute;
	background: #FFD442;
	height: 20px;
	width: 100%;
	top: -20px;
}

#is_help {
	position: absolute;
	background: #FFD442;
	top: 10%;
	bottom: 10%;
	right: 0;
	left: 80%;
	z-index: 999999999999999999999999;
	display: none;
}

#is_help img {
	position: absolute;
	bottom: 10%;
	right: 5%;
	width: 80%;
}

#listed .is_thumb .is_now {

	display: block;
}

._iscart {
	width: 960px !important;
	margin-left: -480px !important;
	position: absolute !important;
	left: 50%;
	top: 200px;
}

#nav a.bt {

	display: inline-block;
	padding: 20px;
	color: white;
	background: black;
	margin: 10px;
	width: auto;
	text-transform: uppercase;
	text-decoration: none;
}

#cart_amount {
	height: 26px;
	width: 26px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	background: #FFD442;
	position: absolute;
	font-size: 12px;
	color: black;
	text-align: center;
	line-height: 26px;
	right: 0px;
	top: 6px;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	 */

}

::-webkit-scrollbar-thumb {

	background: #333;
	color: black;
	border-radius: 10px;
}

#isdialog {

	display: none
}

@-webkit-keyframes fade {
from {
	opacity: 0;
	-webkit-transform: translate(-50%, -50%) scale(0.8);
	transform: translate(-50%, -50%) scale(0.8);
}
to {
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}
}
@keyframes
fade {from {
	opacity: 0;
	-webkit-transform: translate(-50%, -50%) scale(0.8);
	transform: translate(-50%, -50%) scale(0.8);
}
to {
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}
}
.confirm {
	z-index: 9999999999999999;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80%;
	min-width: 280px;
	max-width: 500px;
	height: auto;
	background: #E2E2E2;
	border-radius: 10px;
	padding: 0;
	margin: 0;
	border-top: 1px solid white;
	-webkit-animation: fade 1s ease 1 forwards;
	animation: fade 1s ease 1 forwards;
}
.confirm h1 {
	text-align: center;
	font-size: 1.2 rem;
	margin: 1.5 rem 1rem 0.5 rem;
}
.confirm p {
	text-align: center;
	font-size: 1em;
	margin: 0 2em 4.5em;
}
.confirm button {
	background: #222;
	border: none;
	color: #FFD442;
	height: 3em;
	font-size: 1em;
	width: 50%;
	position: absolute;
	bottom: 0;
	cursor: pointer;
}
.confirm button:nth-of-type(1) {
	border-top: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	left: 0;
	border-radius: 0 0 0 10px;
}
.confirm button:nth-of-type(2) {
	border-top: 1px solid #B4B4B4;
	right: 0;
	border-radius: 0 0 10px 0;
}
.confirm button:focus, .confirm button:hover {
	/* font-weight: bold;
	 background: #EFEFEF;*/
}
.confirm button:active {
	background: #D6D6D6;
}

.grey {

	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.dark {

	-webkit-filter: brightness(30%);
	-moz-filter: brightness(30%);
	filter: brightness(30%);
}

/*-- Application stylesheets. -----------------------------------------------*/

